body {
    background: black;
    color: white;

}

h1 {
    font-size: 20px;
}

p {
    font-size: 12px;
    color: lightgray;
}

.myDiv {
    border: 2px dotted;
    width: 100px;
    height: 100px;
}

ol {
    list-style-type: armenian;
}

ul {
    list-style-type: upper-latin;
}