body {
    margin: 0;
}

button {
    background-color: rgb(59, 124, 199);
    color: inherit;
    font-weight: 600;
    padding: 10px 32px;
    border: none;
    border-radius: 10px;
    flex-shrink: 0;
}

/* The following classes are part of the header container */
.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    /* Content is centered using padding, might have to be changed later */
    padding: 10px 200px;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 24px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    gap: 8px;
}

.title-heading {
    font-size: 50px;
    font-weight: 900;
    padding: 0px;
}

.title-paragraph {
    font-size: 18px;
    padding: 0;
}

.image-title {
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

ul li {
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none; 
}

/* These belong to information container */ 

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.information-title {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    padding: 10px 200px;
}

.card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(95, 93, 93)
}

.bird-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px rgb(51, 127, 226) solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Then there is the quote part */

.quote {
    background-color: #E5E7EB;
    padding: 150px 300px;
    display: flex;
    flex-direction: column;
}

.quote-paragraph {
    font-size: 40px;
    font-style: italic;
}

.quote-signature {
    align-self: end;
    font-weight: 900;
    font-size: 26px;
}

/* Signup */

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.signup-block {
    background-color: rgb(76, 130, 231);
    color: white;
    padding: 48px 150px;
    display: flex;
    gap: 100px;
    border-radius: 12px;
}

.block-title-paragraph {
    display: flex;
    flex-direction: column;
}

.block-title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 2px;
}

button.block-button {
    border: 2px solid;
}

/* Copyright */

.copyright {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.copyright-text {
    font-size: 20px;
}