/* The following classes are part of the header container */

.header {
    background-image: linear-gradient(to right, rgb(80, 58, 209), rgb(53, 5, 109));
    color: white;
    display: flex;
    flex-direction: column;
    /* Content is centered using padding, might have to be changed later */
    padding: 10px 200px;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size: 24px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    gap: 8px;
}

.title-heading {
    font-size: 50px;
    font-weight: 900;
    padding: 0px;
}

.title-paragraph {
    padding: 0;
}

.image-title {
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

ul li {
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none; 
}

button {
    background-color: rgb(59, 124, 199);
    color: inherit;
    font-weight: 600;
    padding: 10px 32px;
    border: none;
    border-radius: 10px;
    flex-shrink: 0;
}

/* These belong to information container */ 